<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <form class="signup-form" action="/admin/add-product" method="POST">
      <p class="signup-form-header"><strong>GiftKart</strong> | Add Product</p>
      <% if (errorMessage) { %>
      <div class="user-message user-message--success"><%= errorMessage %></div>
      <% } %>

      <div class="form-control">
        <label for="imageUrl">imageUrl</label>
        <input type="imageUrl" name="imageUrl" id="imageUrl">
      </div>

      <div class="form-control">
        <label for="title">Title</label>
        <input type="title" name="title" id="title" placeholder="Enter the name of your prouduct">
      </div>

      <div class="form-control">
        <label for="description">Description</label>
        <input type="description" name="description" id="description">
      </div>

      <div class="form-control">
        <label for="price">price</label>
        <input type="number" name="price" id="price">
      </div>

      <div class="form-control">
        <label for="category">category</label>
        <input type="text" name="category" id="category">
      </div>

      <div class="form-control">
        <label for="quantity">quantity</label>
        <input type="number" name="quantity" id="quantity">
      </div>

      <div class="form-control">
        <label for="minage">minage</label>
        <input type="number" name="minage" id="minage">
      </div>

      <div class="form-control">
        <label for="maxage">maxage</label>
        <input type="number" name="maxage" id="maxage">
      </div>

      <div class="form-control">
        <label for="gender">gender</label>
        <input type="gender" name="gender" id="gender">
      </div>

      <button class=" btn" type="submit">Submit</button>
    </form>
  </main>
  <%- include('../includes/end.ejs') %>