<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <main class="centered" style="min-height: 80vh;">
    <h1>500 Internal Server error!</h1>
    <img class="errorpage-img" src="/img/500.svg" alt="Internal server error">
    <p>We are working on it to get it fixed. Sorry for the inconvenience...</p>
    <a href="/">Go back to home page</a>
  </main>

<%- include('includes/end.ejs') %>