.cart-list {
  list-style: none;
  padding: 0;
  margin: auto;
}

.cart-list .cart-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border: 1px solid var(--color-primary-light);
  border-radius: 4px;
  margin: .5rem 0;
}

.cart-list .cart-list-item .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-list .cart-list-item .container .cart-item-img {
  height: 100%;
  margin-right: .75rem;
  padding: 1rem 0;
}

.cart-list .cart-list-item .container .cart-item-img img {
  width: 50px;
}

.cart-list .cart-list-item .cart-list-item--info h3 h5 {
  color: var(--color-text-primary);
}
.cart-list .cart-list-item .cart-list-item--info h4 {
  color: var(--color-text-secondary);
}

.cart-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  padding: 1rem 0;
}

.cart-price-display {
  padding: 1rem 2rem;
  border: 1px solid var(--color-primary-light);
}

.cart-form {
  border-radius: 4px;
  width: 30rem;
  max-width: 100%;
  display: inline-block;
  padding: 1.5rem 2.5rem;
}

@media screen and (max-width: 768px) {
  .cart-list .cart-list-item {
    padding: 0 .5rem;
  }

  .cart-list .cart-list-item .cart-list-item--info {
    font-size: small;
  }

  .cart-price-display {
    padding: .5rem 1rem;
  }

  .cart-form {
    padding: .75rem 1.25rem;
  }
}