.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control textarea,
.form-control input {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.p-viewer, 
.p-viewer2{
  float: right;
  margin-top: -25px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
  cursor:pointer;
}

.form-control input,
.form-control textarea {
  border: 1px solid #C5CAE9;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #303F9F;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: red;
}

.fa {
  color:#C5CAE9;
}

.fa.active {
  color: #303F9F;
}
