@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
  --color-primary-dark: #303F9F;
  --color-primary: #3F51B5;
  --color-primary-light: #C5DAF9;
  --color-text-white: #FFFFFF;
  --color-accent: #FF9800;
  --color-accent-hover: #EE8700;
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --color-divider: #BDBDBD;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
  margin-top: 3.5rem;
  min-height: 82vh;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
}

.detail-image {
  margin: 0 auto;
  width: 90%;
}

.detail-image img {
  width: 100%;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-primary-dark);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  font-size: smaller;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 .5rem;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: var(--color-text-white);
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item a:hover > i,
.main-header__item a:active > i,
.main-header__item a.active > i,
.main-header__item button:hover,
.main-header__item button:active {
  color: var(--color-accent);
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--color-text-white);
  z-index: 1000;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  color: var(--color-text-primary);
  font-size: 1rem;
  padding: 0.5rem 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
  background: var(--color-primary-dark);
  color: var(--color-text-white);
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid var(--color-primary-light);
  border-radius: 4px;
  font: inherit;
  padding: .25rem 0.5rem;
  display: inline-block;
  background: transparent;
  color: var(--color-text-white);
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
  color: var(--color-text-primary);
}

.card__header,
.card__content {
  padding: .25rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: .25rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem .75rem;
  text-decoration: none;
  font: inherit;
  font-size: .9rem;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background: var(--color-text-white);
  border-radius: 3px;
  cursor: pointer;
}

.btn-search {
  display: inline-block;
  padding: 0.35rem .5rem;
  text-decoration: none;
  font: inherit;
  font-size: .9rem;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background: var(--color-text-white);
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn-search:hover,
.btn-search:active {
  background-color: var(--color-primary);
  color: var(--color-text-white);
}

.btn.danger {
  color: red;
  border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
  background: red;
  color: var(--color-text-white);
}

.btn.accent {
  color: var(--color-accent);
  border-color: var(--color-accent);
  background: transparent;
}

.btn.accent:hover,
.btn.accent:active {
  background-color: var(--color-accent-hover);
  color: var(--color-text-white);
}

.btn.accent.filled {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-text-white);
}

.btn.accent.filled:hover,
.btn.accent.filled:active {
  background-color: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
}

.user-message {
  margin: auto;
  width: 100%;
  border: 1px solid var(--color-primary);
  padding: .5rem;
  border-radius: 4px;
  background: var(--color-primary-light);
  text-align: center;
  color: var(--color-text-secondary);
}

.user-message--error {
  border-color: red;
  background: rgba(255, 176, 176, .7);
  color: red;
}

.page-header {
  font-size: 1.25rem;
}

.ui-menu {
  z-index: 1001 !important;
}

.ui-autocomplete {
  position: fixed !important;
}

ul#ui-id-2 {
  position: fixed;
  top: 3.25rem !important;
  left: 1.25vw !important;
  width: 95vw;
}

.search-container-web {
  margin: 0 auto;
  width: 40vw;
  display: none;
}

.search-container-mobile{
  display: block;
  width: 40vw;
  margin-left: .75rem;
  flex: 1;
}

.side-menu-toggle-container{
  display: block;
}

.search-bar-mobile{
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 8.75rem;
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content form > button,
.dropdown-content a {
  color: var(--color-primary);
  background-color: #fafafa;
  cursor: pointer;
  padding: .5rem 1rem;
  display: block;
  width: 100%;
  border: none;
}

.dropdown-content form > button:disabled {
  background-color: var(--color-divider);
  color: var(--color-text-secondary);
  cursor: not-allowed;
}

.dropdown-content button:hover,
.dropdown-content a:hover {
  background-color: var(--color-primary-light);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  background-color: var(--color-primary-dark);
  color: var(--color-text-white);
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: small;
  z-index: 999;
}

.footer a {
  text-decoration: none;
  color: var(--color-primary-light);
}

.footer a:hover {
  color: var(--color-accent);
}

.footer .footer-info-right {
  text-align: center;
}

.landing {
  margin-bottom: 3vw;
  height: 80vh;
}

.landing-cover-img{
  height: 80vh;
  width: 100%;
  text-align: center;
  background: url("/img/landing-page-bg.jpg") no-repeat center;
  background-size: cover;
  filter: blur(5px);
  position: absolute;
  filter: brightness(50%);
  left:0;
  top: 0;
}

.landing-cover-content{
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  min-height: 80vh;
  flex-wrap: wrap;
  opacity: 1;
  margin-top: 3.45rem;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .landing-img {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.landing .landing-img .container {
  height: 100%;
  width: 100%;
}

.landing .landing-img .container img {
  width: 100%;
  height: 100%;
}

.landing .landing-info {
  flex-basis: 100%;
  padding: 1rem;
  text-align: center;
}

.landing .landing-info .title {
  color: var(--color-text-white);
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 0;
}

.landing .landing-info .subtitle {
  color: var(--color-primary-light);
  font-size: .8rem;
  font-weight: 200;
  font-style: italic;
}

.benefits {
  margin-top: -2.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.benefits .benefit-card {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px;
  border-top: 5px solid var(--color-primary-dark);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  max-width: 18.5rem;
  min-width: 16.5rem;
}

.benefits .benefit-card .card-icon {
  color: var(--color-primary-dark);
}

.benefits .benefit-card h2 {
  font-weight: 600;
  font-size: 1.3rem;
}

.benefits .benefit-card p {
  font-size: .9rem;
}

.about-fluid{
  background-color: var(--color-primary-light);
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 2rem 0;
  margin-left: 5%;
  margin-right: 5%;
}

.about .about-info {
  flex-basis: 100%;
  padding: 2rem;
}

.about .about-info .title {
  font-size: 2.75rem;
  font-weight: 300;
  margin: 1rem 0;
}

.about .about-img {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about .about-img .container {
  width: 100%;
  margin-bottom: 1rem;
}

.about .about-img .container img {
  width: 100%;
}

.errorpage-img {
  width: 100%;
}

.occasion-fluid{
  background-color: var(--color-primary-light);
}

.recipient,
.occasion {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials h2,
.recipient h2,
.occasion h2 {
  font-size: 2.75rem;
  font-weight: 300;
  margin: 1rem 0;
}

.recipient .links-row,
.occasion .links-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.recipient .links-row a,
.occasion .links-row a {
  text-decoration: none;
  color: var(--color-text-primary);
}

.recipient .links-row .recipient-item,
.occasion .links-row .occasion-item {
  margin: 1rem;
  width: 300px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  transition: all .2s ease-out;
}

.recipient .links-row .recipient-item:hover,
.occasion .links-row .occasion-item:hover {
  border: 1px solid var(--color-primary-light);
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
}

.recipient .links-row .recipient-item img,
.occasion .links-row .occasion-item img {
  width: 100%;
}

.testimonials {
	padding: 40px 0;
	background: var(--color-primary-light);
	color: #434343;
	text-align: center;
}
.testimonials-inner {
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
}

.border {
	width: 160px;
	height: 5px;
	background: var(--color-primary-dark);
	margin: 26px auto;
}

.testimonials-inner-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.testimonials-inner-col {
	flex: 33.33%;
	max-width: 33.33%;
	box-sizing: border-box;
	padding: 15px;
}

.testimonial {
  padding: 1.75rem;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  max-width: 18.5rem;
  min-width: 16.5rem;
  background-color: var(--color-text-white);
}

.testimonial img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.testimonials-inner-name {
	font-size: 20px;
	margin: 20px 0;
}

.testimonials-inner-stars {
	color: var(--color-primary);
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.testimonials-inner-col {
		flex: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	}
}

@media screen and (min-width: 992px) {
  .benefits .benefit-card {
    flex-basis: 30%;
  }
}

@media screen and (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }
  
  .side-menu-toggle-container{
    display: none;
  }

  .detail-image {
    width: 30rem;
  }
  
  .page-header {
    font-size: 1.75rem;
  }

  .search-container-web {
    display: block;
  }

  .search-container-mobile {
    display: none;
  }

  .landing .landing-img {
    flex-basis: 35%;
  }
  
  .landing .landing-info {
    flex-basis: 65%;
  }

  .landing .landing-info .title {
    font-size: 4rem;
  }

  .landing .landing-info .subtitle {
    font-size: 1.5rem;
  }

  .about {
    margin-left: 10%;
    margin-right: 10%;
  }

  .about .about-info {
    flex-basis: 50%;
  }
  
  .about .about-img {
    padding: 3rem;
    flex-basis: 50%;
  }

  .benefits {
    margin-top: -5rem;
  }

  .benefits .benefit-card {
    flex-basis: 22.5%;
  }

  .recipient .links-row .recipient-item,
  .occasion .links-row .occasion-item {
    flex-basis: 30%;
  }

  .error-404-img {
    width: 60%;
  }
}

