.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #212121;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.orders-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  padding: 0;
}

.orders-list__item {
  padding: .5rem 1rem;
  border: 1px solid #C5CAE9;
  margin: .5rem 0;
}

@media screen and (max-width: 768px) {
  .orders-list__item {
    font-size: 87.5%;
  }
}