.products-container {
  display: flex;
  margin-left: 300px;
}

.filter-container{
  background-color: var(--color-text-white);
  width: 20vw;
  font-size: small;
  min-width: 300px;
  display: block;
  position: fixed;
  top: 7.5%;
  left: 0;
  z-index: 1;
}

.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 15rem;
  max-width: 95%;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #212121;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.product-detail-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.detail-image {
  margin: 0;
  padding: 1rem 1.5rem;
  flex-basis: 35%;
}

.detail-image img {
  width: 100%;
}

.detail-info {
  text-align: left;
  padding: 0 2rem;
  flex-basis: 65%;
}

.orders-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  padding: 0;
}

.orders-list__item {
  padding: .5rem 1rem;
  border: 1px solid #C5CAE9;
  margin: .5rem 0;
}

@media screen and (max-width: 768px) {
  .orders-list__item {
    font-size: 87.5%;
  }

  .products-container {
    display: block;
    margin: 0;
  }

  .detail-image {
    flex-basis: 80%;
  }
  
  .detail-info {
    flex-basis: 100%;
    padding: 0 .75rem;
  }
}