<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../includes/navigation.ejs', { cartItems: cartItems }) %>
  <main>
    <p class="page-header centered"><strong>GiftKart</strong> | Recommendation</p>
    <% if (category) { %>
      <p class="centered">Recommend stuff for <%= category %></p>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>